<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body class="childrenBody">
<h1>欢迎登录医院门诊预约系统后台管理系统</h1>

</body>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<!--<script th:inline="javascript">-->
    <!--layui.use('upload', function() {-->
        <!--var $ = layui.jquery-->
            <!--, upload = layui.upload-->
        <!--//创建一个上传组件-->
        <!--upload.render({-->
            <!--elem: '#selectPic',-->
            <!--//url: /*[[@{/ftp/uploadPic}]]*/ ,-->
            <!--url: /*[[@{/ftp/uploadPic}]]*/,-->
            <!--data:{-->
                <!--type:'user',-->
                <!--id:'11'-->
            <!--},-->
            <!--auto: false,-->
            <!--bindAction: '#uploadPic',-->
            <!--choose: function (obj) {-->
                <!--var files = obj.pushFile();-->
                <!--//预览选中的文件（本地文件）-->
                <!--obj.preview(function (index, file, result) {-->
                    <!--$('#demo1').attr('src', result);-->
                <!--});-->
            <!--},-->
            <!--done: function (res, index, upload) { //上传后的回调-->
                <!--$('#demo1').attr('src', res.data.src);-->
            <!--}-->

        <!--});-->
    <!--});-->
<!--</script>-->
</body>
</html>
