<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户中心--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <input type="text" id="appointmentTimeBegin" class="" style="height: 38px; " placeholder="起始日期" />
                <input type="text" id="appointmentTimeEnd" class=" " style="height: 38px;" placeholder="结束日期" />
            </div>
            <br>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width:180px">
                    <select id="status" name="status" style="width: 180px" lay-verify="">
                        <option value="">选择订单状态</option>
                        <option value="DZZ">待诊治</option>
                        <option value="DPJ">待评价</option>
                        <option value="YWC">已完成</option>
                        <option value="YHQX">用户取消</option>
                        <option value="YHSY">用户爽约</option>
                    </select>
                </div>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input searchVal" style="width: 180px" placeholder="输入患者/医生信息搜索" />
                </div>
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
            <!--div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
            </div-->
        </form>
    </blockquote>
    <table id="orderList" lay-filter="orderList"></table>

    <!--操作-->
    <script type="text/html" id="userListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">处理</a>
        <a class="layui-btn layui-btn-xs  layui-btn-danger" lay-event="">查看</a>
    </script>
</form>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<!--  script type="text/javascript" th:src="@{/js/admin_patient_list.js}"></script  -->
<script type="text/javascript"  th:inline="javascript">
    //格式化
    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));

        return fmt;
    }

    //返回格式化时间
    function getformat(date,format){
        var dateformat=''
        var DateTimeReg = /\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}/
        if(date){
            if(typeof date === 'string' && DateTimeReg.test(date)) {
                //IE浏览器的Date.parse方法的实现要求参数是RFC2822或ISO 8601格式
                //现在系统常用的格式之一：2018-01-01 06:30:30不能正常转换
                //如下转换后IE下的Date.parse可以正常执行
                date = date.replace(' ', 'T')

                // 360浏览器的极速模式在解析时间字符串时会将该字符串视为UTC时间
                // 然后在生成时间对象的时候按照北京时间（GMT+0800）来生成
                // 所以会导致小时数+8，从而显示异常
                // 如下处理，手动声明该时间字符串为北京时间，避免时区的转换
                date = date + '+08:00';
            }

            dateformat=new Date(date).format(format);
        }
        return dateformat;
    }


    var col = [
        {field: 'id', title: '订单编号', minWidth:100, align:"center"},
        {field: 'appointmentTime', title: '预约门诊日期', minWidth:100, align:'center',templet:function(d){return getformat(d.appointmentTime,"yyyy/MM/dd")}},
        {field: 'patientName', title: '患者姓名', minWidth:100, align:'center'},
        {field: 'patientMobile', title: '患者电话', minWidth:100, align:'center'},
        {field: 'patientIdCard', title: '患者身份证号', minWidth:100, align:'center',templet:function(d){return d.patientIdCard+"元"}},
        {field: '', title: '预约费用', minWidth:100, align:'center',templet:function(d){return d.appointmentFee+"元"}},
        {field: 'createTime', title: '下单时间', minWidth:100, align:'center',templet:function(d){return getformat(d.createTime,"yyyy/MM/dd hh:mm:ss")}},
        {field: 'statusDesc', title: '订单状态', minWidth:100, align:'center'},
        {title: '操作', minWidth:175, templet:'#userListBar',fixed:"right",align:"center"}];
    layui.use(['form','layer','table','laytpl','laydate'],function() {
        var form = layui.form,
            laydate = layui.laydate,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            table = layui.table;
        //执行一个laydate实例
        laydate.render({
            elem: '#appointmentTimeBegin' //指定元素
        });
        laydate.render({
            elem: '#appointmentTimeEnd' //指定元素
        });
        //列表
        var tableIns = table.render({
            elem: '#orderList',
            url: /*[[@{/doctor/getOrderList}]]*/,
            cellMinWidth: 95,
            page: true,
            height: "full-125",
            limits: [10, 15, 20, 25],
            limit: 20,
            id: "newOrderListTable",
            cols: [col]
        });

        //搜索
        $(".search_btn").on("click", function () {

            table.reload("newOrderListTable", {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    key: $(".searchVal").val(),
                    status: $("#status").val(),
                    appointmentTimeBegin: $("#appointmentTimeBegin").val(),
                    appointmentTimeEnd: $("#appointmentTimeEnd").val(),
                }
            })

        });
        function addOrder(){
            var index = layui.layer.open({
                title : "添加",
                type : 2,
                content : /*[[@{/doctor/order/add}]]*/,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        $(".addNews_btn").click(function(){
            addOrder();
        })
        //修改
        function editOrder(edit){
            var index = layui.layer.open({
                title : "编辑",
                type : 2,
                content : /*[[@{/doctor/order/edit}]]*/,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    if(edit){
                        body.find(".orderId").val(edit.id);
                        body.find(".appointmentTime").val(getformat(edit.appointmentTime,"yyyy-MM-dd"));
                        body.find(".statusDesc").val(edit.statusDesc);
                        body.find(".patientName").val(edit.patientName);
                        body.find(".patientMobile").val(edit.patientMobile);
                        body.find(".patientIdCard").val(edit.patientIdCard);
                        body.find(".doctorName").val(edit.doctorName);
                        body.find(".doctorMobile").val(edit.doctorMobile);
                        body.find(".remark").val(edit.remark);
                        body.find(".appointmentFee").val(edit.appointmentFee);
                        body.find(".score").val(edit.score);
                        body.find(".resultDesc").val(edit.resultDesc);
                        body.find(".evaluate").val(edit.evaluate);
                        body.find(".createTime").val(getformat(edit.createTime,"yyyy-MM-dd hh:mm:ss"));
                        body.find(".lastUpdateTime").val(getformat(edit.lastUpdateTime,"yyyy-MM-dd hh:mm:ss"));
                        form.render();
                    }
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回用户列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        //列表操作
        table.on('tool(orderList)', function(obj){
            var layEvent = obj.event,
                data = obj.data;

            if(layEvent === 'edit'){ //编辑
                editOrder(data);
            }else if(layEvent === 'del'){ //删除科室
                layer.confirm('您没有删除排班的权限，请联系管理员',{icon:3, title:'提示信息'},function(index){
                    tableIns.reload();
                    layer.close(index);

                });
            }
        });



    })
</script>
</body>
</html>