
	
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
     
<style>
 .header {
	line-height: 30px;
	background: #eeeeee;
}
.footer {
	background-color: #f6f6f6;
	text-align: center;
	padding: 20px 0px;
}
</style>

    <body>
      <div class="header" th:fragment="header">
		<div class='wrap'>
			<p style="float: left">13189457981电话预约欢迎来到雷州市清风医院统一预约门诊平台</p>
			<div style="float: right">
				<a href="">登录 </a>&nbsp;|&nbsp;&nbsp;<a href="">注册</a>
			</div>
			<div style='clear: both;'></div>
		</div>
	</div>
    </body>
</html>