<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlq.hospital.dao.NoticeDao" >
  <resultMap id="BaseResultMap" type="com.xlq.hospital.model.Notice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="notice_content" property="noticeContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from h_notice
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xlq.hospital.model.Notice" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_notice (id, notice_title, state, notice_content)
    values (#{id}, #{noticeTitle,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{noticeContent,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xlq.hospital.model.Notice" >
    update h_notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      notice_content = #{noticeContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, notice_title, create_time, last_update_time, state, notice_content
    from h_notice
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, notice_title, create_time, last_update_time, state, notice_content
    from h_notice 
    <where>
    <if test='_parameter!= "A" ' >
    and state = #{type,jdbcType=VARCHAR} 
    </if> 
    </where>
    ORDER BY create_time desc
  </select>
  
  <select id="getNoticeCount" resultType="int" parameterType="java.lang.String" >
    select COUNT(*)
    from h_notice 
    <where>
    <if test='_parameter!= "A" ' >
    and state = #{type,jdbcType=VARCHAR} 
    </if> 
    </where>
  </select>

  <select id="queryNoticeByKey" resultMap="BaseResultMap" parameterType="com.xlq.hospital.model.Notice" >
    select id, notice_title, create_time, last_update_time, state, notice_content
    from h_notice
    <where>
      <if test="state!=null and state !=''">
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="noticeTitle!=null and noticeTitle !=''">
        and notice_title like concat('%',#{noticeTitle},'%')
      </if>

    </where>
    ORDER BY create_time desc
  </select>
</mapper>