<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlq.hospital.dao.OrderDao" >
  <resultMap id="BaseResultMap" type="com.xlq.hospital.model.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="VARCHAR" />
    <result column="doctor_id" property="doctorId" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="doctor_mobile" property="doctorMobile" jdbcType="VARCHAR" />
    <result column="patient_name" property="patientName" jdbcType="VARCHAR" />
    <result column="patient_mobile" property="patientMobile" jdbcType="VARCHAR" />
    <result column="patient_id_card" property="patientIdCard" jdbcType="VARCHAR" />
    <result column="appointment_time" property="appointmentTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="appointment_fee" property="appointmentFee" jdbcType="DECIMAL" />
    <result column="treat_fee" property="treatFee" jdbcType="DECIMAL" />
    <result column="result_desc" property="resultDesc" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from h_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xlq.hospital.model.Order" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_order (id,order_code, patient_id, doctor_id,
      department_id, doctor_name, doctor_mobile, 
      patient_name, patient_mobile, patient_id_card, 
      appointment_time, remark, appointment_fee, 
      treat_fee, result_desc, score, 
      evaluate, status, status_desc)
    values (#{id},#{orderCode,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARCHAR},
      #{departmentId,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, #{doctorMobile,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{patientMobile,jdbcType=VARCHAR}, #{patientIdCard,jdbcType=VARCHAR}, 
      #{appointmentTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{appointmentFee,jdbcType=DECIMAL}, 
      #{treatFee,jdbcType=DECIMAL}, #{resultDesc,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{evaluate,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{statusDesc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xlq.hospital.model.Order" >
    update h_order
    <set>
      <if test="patientId!=null and patientId!=''">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId!=null and doctorId!=''">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId!=null and departmentId!=''">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName!=null and doctorName!=''">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="doctorMobile!=null and doctorMobile!=''">
        doctor_mobile = #{doctorMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientName!=null and patientName!=''">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if><if test="patientMobile!=null and patientMobile!=''">
      patient_mobile = #{patientMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientIdCard!=null and patientIdCard!=''">
        patient_id_card = #{patientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="appointmentTime!=null and appointmentTime!=''">
        appointment_time = #{appointmentTime,jdbcType=DATE},
      </if>
      <if test="remark!=null and remark!=''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="appointmentFee!=null and appointmentFee!=''">
        appointment_fee = #{appointmentFee,jdbcType=DECIMAL},
      </if>
      <if test="treatFee!=null and treatFee!=''">
        treat_fee = #{treatFee,jdbcType=DECIMAL},
      </if>
      <if test="resultDesc!=null and resultDesc!=''">
        result_desc = #{resultDesc,jdbcType=VARCHAR},
      </if>
      <if test="score!=null and score!=''">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="evaluate!=null and evaluate!=''">
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="status!=null and status!=''">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDesc!=null and statusDesc!=''">
        status_desc = #{statusDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, order_code, patient_id, doctor_id, department_id, doctor_name, doctor_mobile, 
    patient_name, patient_mobile, patient_id_card, appointment_time, remark, appointment_fee, 
    treat_fee, result_desc, score, evaluate, "status", status_desc, create_time, last_update_time
    from h_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, order_code, patient_id, doctor_id, department_id, doctor_name, doctor_mobile, 
    patient_name, patient_mobile, patient_id_card, appointment_time, remark, appointment_fee, 
    treat_fee, result_desc, score, evaluate, status, status_desc, create_time, last_update_time
    from h_order
  </select>
  <select id="queryOrderByKey" resultMap="BaseResultMap" parameterType="com.xlq.hospital.model.Order" >
    select id, order_code, patient_id, doctor_id, department_id, doctor_name, doctor_mobile,
    patient_name, patient_mobile, patient_id_card, appointment_time, remark, appointment_fee,
    treat_fee, result_desc, score, evaluate, status, status_desc, create_time, last_update_time
    from (h_order)
    <where>
      <if test="key!=null and key!=''">
        and ( id like CONCAT('%',#{key},'%') or doctor_name like CONCAT('%',#{key},'%') or
        doctor_mobile like CONCAT('%',#{key},'%') or  patient_name like CONCAT('%',#{key},'%') or
        patient_mobile like CONCAT('%',#{key},'%') or  patient_id_card like CONCAT('%',#{key},'%') )
      </if>
      <if test="appointmentTimeBegin!=null and appointmentTimeBegin!=''">
        and (appointment_time >= #{appointmentTimeBegin})
      </if>
      <if test="appointmentTimeEnd!=null and appointmentTimeEnd!=''">
        and (#{appointmentTimeEnd} >= appointment_time)
      </if>
      <if test="status!=null and status !=''">
        and status = #{status,jdbcType=VARCHAR}
      </if>


      <if test="id!=null and id!=''">
        and id = #{id}
      </if>
      <if test="doctorId!=null and doctorId!=''">
        and doctor_id = #{doctorId}
      </if>
      <if test="patientId!=null and patientId!=''">
        and patient_id = #{patientId}
      </if>
      <if test="departmentId!=null and departmentId!=''">
        and department_id = #{departmentId}
      </if>
      <if test="doctorName!=null and doctorName!=''">
        and doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="doctorMobile!=null and doctorMobile!=''">
        and doctor_mobile = #{doctorMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientName!=null and patientName!=''">
         and patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientMobile!=null and patientMobile!=''">
         and patient_mobile = #{patientMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientIdCard!=null and patientIdCard!=''">
         and patient_id_card = #{patientIdCard,jdbcType=DATE},
      </if>
      <if test="appointmentTime!=null and appointmentTime!=''">
        and appointment_time = #{appointmentTime,jdbcType=DATE},
      </if>
      <if test="remark!=null and remark!=''">
        and remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="patientMobile!=null and patientMobile!=''">
        and  patient_mobile = #{patientMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientMobile!=null and patientMobile!=''">
        and patient_mobile = #{patientMobile,jdbcType=VARCHAR},
      </if>
    </where>
  </select>
</mapper>